

  <main>
    <section class="aling">
       <h1>CSS is Cool</h1>

    <p>
      I'm baby kale chips affogato ennui lumbersexual, williamsburg paleo quinoa
      iceland normcore tumeric. Kitsch coloring book retro, seitan schlitz
      tattooed biodiesel vexillologist neutra. Synth mumblecore deep v, umami
      selfies normcore gluten-free snackwave. Seitan ramps drinking vinegar
      venmo keytar, humblebrag VHS post-ironic tacos godard pour-over.
    </p>
<form class="contact100-form validate-form" method="POST" action="/ISession">
    	<div class="wrap-input100  validate-input" data-validate = "Valid email is required: ex@abc.xyz">
					<span class="label-input100">Email</span>
					<input class="input100" type="text" id="email" name="email" placeholder="Email">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100  validate-input" data-validate = "">
					<span class="label-input100">Password</span>
					<input class="input100" type="password" id="pass" name="pass" placeholder="Password">
					<span class="focus-input100"></span>
				</div>
         <div class="container-contact100-form-btn">
					<button class="contact100-form-btn" type="submit  ">
						<span>
							Iniciar Sesion
							<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
						</span>
					</button>
				</div>

</form>
    </section>
   

    
  </main>